<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Application -->
      <package
            uri="us.coastalhacking.semiotics.model.application"
            class="us.coastalhacking.semiotics.model.application.ApplicationPackage"
            genModel="model/Application.xcore"/>
   </extension>

</plugin>
