<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SurfaceArea -->
      <package
            uri="us.coastalhacking.semiotics.model.surfacearea"
            class="us.coastalhacking.semiotics.model.surfacearea.SurfaceareaPackage"
            genModel="model/SurfaceArea.xcore"/>
   </extension>

</plugin>
