<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Flow -->
      <package
            uri="us.coastalhacking.semiotics.model.flow"
            class="us.coastalhacking.semiotics.model.flow.FlowPackage"
            genModel="model/Flow.xcore"/>
   </extension>

</plugin>
