<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>
<!--
	<extension point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
		<file filePath="viewmodels/DataGroup.view">
			<filter key="root" value="true"/>
		</file>
		
		<file filePath="viewmodels/DataGroupTreeMasterDetail.view"/>

		<file filePath="viewmodels/ControlGroup.view">
			<filter key="root" value="true"/>
		</file>
		
		<file filePath="viewmodels/ControlGroupTreeMasterDetail.view"/>

		<file filePath="viewmodels/SurfaceAreaGroup.view">
			<filter key="root" value="true"/>
		</file>

		<file filePath="viewmodels/SurfaceAreaGroupTreeMasterDetail.view"/>

	</extension>
-->
</plugin>
