<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Data -->
      <package
            uri="us.coastalhacking.semiotics.model.data"
            class="us.coastalhacking.semiotics.model.data.DataPackage"
            genModel="model/Data.xcore"/>
   </extension>

</plugin>
