<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Control -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="us.coastalhacking.semiotics.model.control.presentation.ControlModelWizardID"
            name="%_UI_ControlModelWizard_label"
            class="us.coastalhacking.semiotics.model.control.presentation.ControlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ControlModelFile.gif">
         <description>%_UI_ControlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Control -->
      <editor
            id="us.coastalhacking.semiotics.model.control.presentation.ControlEditorID"
            name="%_UI_ControlEditor_label"
            icon="icons/full/obj16/ControlModelFile.gif"
            extensions="control"
            class="us.coastalhacking.semiotics.model.control.presentation.ControlEditor"
            contributorClass="us.coastalhacking.semiotics.model.control.presentation.ControlActionBarContributor">
      </editor>
   </extension>

</plugin>
